#!/usr/bin/env xdg-open
[Desktop Entry]
Name=安装&更新 Shortix
Exec=rm -rf /tmp/shortix && git clone https://steamdeck-proxy.juij.eu.org/https://github.com/juij-buy/shortix /tmp/shortix && mkdir -p $HOME/.local/share/icons && cp /tmp/shortix/shortix_icon.svg $HOME/.local/share/icons && /bin/bash /tmp/shortix/shortix_install.sh
Terminal=True
Type=Application
Icon=shortix_icon.svg
StartupNotify=False
